.container {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    align-items: center;
    border: 1px solid grey;
}


.div2 {
    position: absolute;
    box-sizing: border-box;
    left: 0%;
    right: 0%;
    width: 500px;
    height: 500px;
    background: url("../imgs/imagem1.jpg") no-repeat;
    background-size: 100% 100%;
    align-items: center;
    filter: blur(5px);
}



.div1 {
    position: absolute;
    left: 25%;
    right: 0%;
    width: 50%;
    height: 50%;
    opacity: 0;
    transition: all 0.4s ease-in;
    background: rgba(14, 13, 13, 0.4);
    
    
}



.div1 h1 {
    
    box-sizing: border-box;
    padding: 10% 5% 0 5%;
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 20px;
    opacity: 1;
}


.container:hover .div1 {
    opacity: 1;
    transform: scale(2);
    
}


.conteudo {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    ;
}
